@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@layer components {
  .btn-primary,
  .btn-secondary,
  .input,
  .select {
    @apply
      h-10
      px-2
      rounded
    ;
  }

  .btn-primary,
  .btn-secondary {
    @apply border
      no-underline
    ;
  }

  .btn-primary {
    @apply bg-primary
      border-primary
      text-black
      hover:bg-primary-dark
    ;
  }
  .btn-secondary {
    @apply bg-transparent
      border-gray-600
      hover:border-black-rich
      text-gray-600
      hover:text-black-rich
      dark:text-gray-400
      dark:border-gray-400
      dark:hover:text-white
      dark:hover:border-white
    ;
  }
  button.btn-primary,
  button.btn-secondary {
    @apply hover:cursor-auto;
  }
  a.btn-primary,
  a.btn-secondary {
    @apply
      inline-flex
      items-center
    ;
  }

  .link {
    @apply
      no-underline
      hover:underline
    ;
  }

  .input {
    @apply
      inline-flex
      items-center
      justify-center
      h-10
      leading-none
      bg-transparent
      outline-none
      border
      border-gray-300
      focus:border-black-rich
      dark:border-gray-600
      dark:focus:border-white
    ;
  }

  .select {
    @apply
      inline-flex
      items-center
      justify-center
      cursor-default
      shadow
      gap-1
      hover:bg-gray-50
      dark:bg-white
      dark:hover:bg-black-rich
      dark:text-primary
    ;
  }
}
