@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@layer components {
  .btn-primary,
  .btn-secondary {
    @apply border-2
      px-2
      py-1
      rounded
      no-underline;
  }

  .btn-primary {
    @apply bg-primary
      hover:bg-transparent
      border-primary
      hover:border-primary
      text-black
      hover:text-primary
    ;
  }
  .btn-secondary {
    @apply bg-transparent
      border-gray-600
      hover:border-black-rich
      text-gray-600
      hover:text-black-rich
      dark:text-gray-400
      dark:border-gray-400
      dark:hover:text-white
      dark:hover:border-white
    ;
  }
  button.btn-primary,
  button.btn-secondary {
    @apply hover:cursor-auto;
  }
  a.btn-primary,
  a.btn-secondary {
    @apply py-2;
  }

  .link {
    @apply
      no-underline
      hover:underline;
  }

  .input {
    @apply inline-flex
      items-center
      justify-center
      rounded
      px-2
      h-9
      text-base
      leading-none
      shadow
      focus:shadow-sm
      dark:bg-black-800;
  }
}
