.DS_Store
node_modules
build
public
dist
out
.next
.svelte-kit
.env
.env.*
!.env.example
.git
.github
coverage
pnpm-*
.vercel
.turbo

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

apps/next/tsconfig.json

*.timestamp-*.mjs

# supabase database types
apps/next/src/lib/database.types.ts
