@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;
		--ring: 215 20.2% 65.1%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;
		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;
		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;
		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;
		--border: 216 34% 17%;
		--input: 216 34% 17%;
		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;
		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;
		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;
		--ring: 216 34% 17%;
	}
}

@layer base {
	* {
		@apply ui-border-border;
	}
	/* body {
		@apply font-sans antialiased bg-background text-foreground;
	} */
}

.heading1 {
	@apply ui-scroll-m-20 ui-text-4xl ui-font-extrabold ui-tracking-tight lg:ui-text-5xl;
}

.heading2 {
	@apply ui-scroll-m-20 ui-border-b ui-pb-2 ui-text-3xl ui-font-semibold ui-tracking-tight ui-mt-10 first:ui-mt-0;
}

.paragraph {
	@apply ui-leading-7 [&:not(:first-child)]:ui-mt-6;
}

@layer components {
	.select {
		@apply ui-h-10
			ui-px-2
			ui-rounded;
	}

	.select {
		@apply ui-inline-flex
      ui-items-center
      ui-justify-center
      ui-cursor-default
      ui-gap-1
      ui-outline-none
      ui-border
      ui-border-gray-300
      hover:ui-border-black-rich
      focus:ui-border-black-rich
      dark:ui-border-gray-600
      dark:hover:ui-border-white
      dark:focus:ui-border-white;
	}
	.select-item {
		@apply ui-border-0
		ui-text-sm
      focus:ui-bg-primary
      focus:ui-text-white
      dark:ui-text-primary
      dark:focus:ui-text-white
      focus-visible:ui-outline-none
      ui-rounded
      ui-flex
      ui-items-center
      ui-h-6
      ui-py-0
      ui-px-6
      ui-relative
      ui-select-none
      data-disabled:ui-text-zinc-300
      data-disabled:ui-pointer-events-none;
	}
	.select-item-indicator {
		@apply ui-absolute
      ui-left-0
      ui-inline-flex
      ui-items-center
      ui-justify-center
      ui-w-6;
	}
	.select-label {
		@apply ui-text-slate-600 ui-text-xs ui-leading-6 ui-py-0 ui-px-6;
	}
	.select-separator {
		@apply ui-h-px ui-m-1 ui-bg-gray-300;
	}

	/* ----------- */
	/* ----------- */
	/* ----------- */
	/* ----------- */

	/* .btn-primary,
	.btn-secondary,
	.input,
	.select {
		@apply h-10
      px-2
      rounded;
	}

	.btn-primary,
	.btn-secondary {
		@apply border
      no-underline;
	}

	.btn-primary {
		@apply bg-primary
      border-primary
      text-black
      hover:bg-primary-dark;
	}
	.btn-secondary {
		@apply bg-transparent
      border-gray-600
      hover:border-black-rich
      text-gray-600
      hover:text-black-rich
      dark:text-gray-400
      dark:border-gray-400
      dark:hover:text-white
      dark:hover:border-white;
	}
	button.btn-primary,
	button.btn-secondary {
		@apply hover:cursor-auto;
	}
	a.btn-primary,
	a.btn-secondary {
		@apply inline-flex
      items-center;
	}

	.link {
		@apply no-underline
      hover:underline;
	}

	.input {
		@apply inline-flex
      items-center
      justify-center
      h-10
      leading-none
      bg-transparent
      outline-none
      border
      border-gray-300
      focus:border-black-rich
      dark:border-gray-600
      dark:focus:border-white;
	}

	 */
}
