@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/Inter-Light.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
			U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Inter-Regular.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
			U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/Inter-Medium.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
			U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/Inter-SemiBold.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
			U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/Inter-Bold.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
			U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
			U+2215, U+FEFF, U+FFFD;
	}

	h1 {
		@apply text-5xl mb-10 font-bold;
	}
	h2 {
		@apply text-3xl mb-6;
	}
}

@layer components {
	.btn-primary,
	.btn-secondary,
	.input,
	.select {
		@apply h-10
      px-2
      rounded;
	}

	.btn-primary,
	.btn-secondary {
		@apply border
      no-underline;
	}

	.btn-primary {
		@apply bg-primary
      border-primary
      text-black
      hover:bg-primary-dark;
	}
	.btn-secondary {
		@apply bg-transparent
      border-gray-600
      hover:border-black-rich
      text-gray-600
      hover:text-black-rich
      dark:text-gray-400
      dark:border-gray-400
      dark:hover:text-white
      dark:hover:border-white;
	}
	button.btn-primary,
	button.btn-secondary {
		@apply hover:cursor-auto;
	}
	a.btn-primary,
	a.btn-secondary {
		@apply inline-flex
      items-center;
	}

	.link {
		@apply no-underline
      hover:underline;
	}

	.input {
		@apply inline-flex
      items-center
      justify-center
      h-10
      leading-none
      bg-transparent
      outline-none
      border
      border-gray-300
      focus:border-black-rich
      dark:border-gray-600
      dark:focus:border-white;
	}

	.select {
		@apply inline-flex
      items-center
      justify-center
      cursor-default
      gap-1
      outline-none
      border
      border-gray-300
      hover:border-black-rich
      focus:border-black-rich
      dark:border-gray-600
      dark:hover:border-white
      dark:focus:border-white;
	}
	.select-item {
		@apply border-0
      text-sm
      focus:bg-primary
      focus:text-white
      dark:text-primary
      dark:focus:text-white
      focus-visible:outline-none
      rounded
      flex
      items-center
      h-6
      py-0
      px-6
      relative
      select-none
      data-disabled:text-zinc-300
      data-disabled:pointer-events-none;
	}
	.select-item-indicator {
		@apply absolute
      left-0
      inline-flex
      items-center
      justify-center
      w-6;
	}
	.select-label {
		@apply text-slate-600 text-xs leading-6 py-0 px-6;
	}
	.select-separator {
		@apply h-px m-1 bg-gray-300;
	}
}

#app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

main {
	overflow: scroll;
}
